.header{
    border-width: 5px;
    border-style: double;
    border-color: deeppink;
    width: 500px;
}
@media screen and (max-width: 768px) {
    .header {
        width: 768px;
        border-color: darkred;
    }
}
@media screen and (max-width: 320px) {
    .header {
        width: 320px;
        border-color: darkblue;
    }
}

.flex{
    display: flex;
    padding-bottom: 10px;
}

.flex > div{
    flex: 1;
    padding: 100px;
}

h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}


